BOT_TOKEN=BOT_TOKEN
BOT_USERNAME=BOT_USERNAME




DB_ENGINE=DB_ENGINE
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_HOST=DB_HOST
DB_PORT=DB_PORT


CELERY_BROKER_URL=CELERY_BROKER_URL
CELERY_RESULT_BACKEND=CELERY_RESULT_BACKEND



REDIS_HOST=REDIS_HOST
REDIS_PORT=REDIS_PORT
